asgiref
gunicorn
sqlparse
whitenoise
certifi
chardet
defusedxml
Django
django-heroku
django-allauth
django-ckeditor
django-js-asset
django-model-utils
django-mptt
django-notifications-hq
django-password-reset
django-taggit
django_project
idna
jsonfield
Markdown
oauthlib
Pillow
Pygments
python3-openid
pytz
requests
requests-oauthlib
urllib3
