{% extends 'base.html' %}
{% block activeee %} active {% endblock %}
{% block activeeee %} active {% endblock %}
{% block content %}

<div id="fullpage" class="fullpage-default">

		<div class="section animated-row">
			<div class="section-inner">
				<div class="row justify-content-center">
					<div class="col-md-8 wide-col-laptop">
						<div class="welcome-box" data-animate="fadeInUp">
							<span></span>
							<h2>Articles</h2>
						</div>
						
						<div class="services-section">
							{% for article in articles %}
							<div class="services-list owl-carousel" style="padding:2px 4px 2px 4px;">
							
								<div class="item animate" data-animate="fadeInUp">
										<div class="service-box">
											{% if article.column %}
												<a  role="button" 
													href="{% url 'article:article_list' %}?column={{ article.column.id }}"
													class="badge badge-primary 
														{% if article.column.title == 'Django' %}
															btn-success
														{% elif article.column.title == 'Java' %}
															btn-danger
														{% elif article.column.title == 'HTML' %}
															btn-warning
														{% endif %}
													"
												>
													{{ article.column }}
												</a>
											{% endif %}
											{% if article.avatar %}
												<div class="service-icon">
													<img src="{{ article.avatar.url }}" 
														 alt="avatar" 
														 style="max-width:100%; border-radius: 50px"
													>
												</div>
											{% endif %}
												<br>
										<div class="col-12">
											<h4>
												<b>
													<a href="{% url 'article:article_detail' article.id %}"
													   style="color: black;" 
													>
														{{ article.title }}
													</a>
												</b>
											</h4>
											<div>
												<p style="color: gray;">
													{{ article.body|slice:'100' }}...
												</p>
											</div>
											<p>
												<span>
													<i class="fa fa-eye" style="color: lightskyblue;"></i>
													{{ article.total_views }}&nbsp;&nbsp;&nbsp;
												</span>
												<span>
													<i class="fa fa-comments" style="color: yellowgreen;"></i>
													{{ article.comments.count }}&nbsp;&nbsp;&nbsp;
												</span>
												<span>
													<i class="fa fa-clock" style="color: pink;"></i>
													<!--
											
													
													-->
												</span>
											</p>
										</div>
										<hr style="width: 100%;"/>
											<span>
													<p class="badge badge-success ccolumn">
														Author: {{ article.author }}
													</p>
											</span>
											<span>
												{% for tag in article.tags.all %}
													<a href="{% url 'article:article_list' %}?tag={{ tag }}"
													   class="badge badge-secondary bcolumn" 
													>
														{{ tag }}
													</a>
												{% endfor %}
											</span>
										</hr>
									</div>
									</div>
								</div>
							
							</div>
							{% endfor %}
						</div>	
						
					</div>
				</div>
			</div>
		</div> 
	</div>
	<br>
						<br>
						<p>Copyrights © <script>document.write(new Date().getFullYear());</script> Designed and Developed by <a href="https://instagram.com/mels_inc?utm_medium=copy_link">Mel's_inc</a></p>
</div>

{% endblock %}